.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.item:hover {
    transform: scale(1.1);
    /* Makes item larger */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* Increases shadow */
}

h2 {
    color: blue;

}

header {
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: 0 30%;
    background-repeat: no-repeat;
    padding: 40px;

}

h1 {
    text-align: center;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: solid;
}

footer p {
    margin: 20px;
}

section {
    background-color: white;
    color: black;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, padding 0.5s ease;
}

section:hover {
    background-color: darkblue;
    color: white;
    padding: 30px;
}